@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sharp Grotesk Font Family */
@font-face {
  font-family: 'Sharp Grotesk';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/SharpGrotesk-Light25.otf') format('opentype');
}

@font-face {
  font-family: 'Sharp Grotesk';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/SharpGrotesk-Book25.otf') format('opentype');
}

@font-face {
  font-family: 'Sharp Grotesk';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/SharpGrotesk-Medium25.otf') format('opentype');
}

@font-face {
  font-family: 'Sharp Grotesk';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/SharpGrotesk-SemiBold25.otf') format('opentype');
}

@font-face {
  font-family: 'Sharp Grotesk';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/SharpGrotesk-Bold25.otf') format('opentype');
}

@font-face {
  font-family: 'Sharp Grotesk';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/SharpGrotesk-Black25.otf') format('opentype');
}

